<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Deals file load</title>
</head>

<body>
  <form action="api/v1/upload_csv" method="post" enctype='multipart/form-data'
    style="display: flex; margin-top: 150px; justify-content: space-evenly; flex-direction: column; align-items: center;">
    {% csrf_token %}
    <input type="file" id="myFile" name="csv_file" style="padding-bottom: 10px;">
    <input type="submit" style="width: 253px;">
  </form>

  <form action="api/v1/get_top_clients" method="get" enctype='multipart/form-data'
    style="display: flex; margin-top: 30px; justify-content: space-evenly; flex-direction: column; align-items: center;">
    {% csrf_token %}

    <input type="submit" value="Посмотреть результат!" style="width: 253px;">
  </form>
</body>
</html>